header, main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
button {
    width: 100px;
    height: 40px;
    color: #FFFFFF;
    background-color: #000000;
    border-color: #ffffff;
    border-radius: 10px;
}
body {
    background-color: #fce6e6;
}
